<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link href="__ROOT__/Public/css/admin_css.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/jquery-1.9.0.min.js"></script>
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
<script charset="utf-8" src="__ROOT__/Public/editor/kindeditor.js"></script>
<script charset="utf-8" src="__ROOT__/Public/editor/lang/zh_CN.js"></script>
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/manager/kindeditor.js"></script>
</head>
<body>
<form name="formadd" method="post" action="__URL__/saveedit" id="formadd">
  <table width="100%" border="1" align="center" cellpadding="5" cellspacing="1" bordercolor="#FFFFFF" bgcolor="#C4D8ED"   class="table_addtable">
    <tr onMouseOver="this.bgColor='#E4EDF9';" onMouseOut="this.bgColor='#FFFFFF';" bgcolor="#ffffff">
      <td height="40" colspan="4" align="left" background="images/nzcms_top01.gif" bgcolor="#C9DEFA" class="nzcms_table_top"><a href="__URL__/index">英文网站页面列表</a>>>增加网站页面</td>
    </tr>
    <tr >
      <td width="12%" align="center">页面编号：</td>
      <td>&nbsp;
        <input type="text" value="{$Page.c_name}" class="inputtext" id="c_name" name="c_name" size="80">
        <span id="c_namespan" class="inputspan"></span></td>
    </tr>
    <tr >
      <td width="12%" align="center">页面名称：</td>
      <td>&nbsp;
        <input type="text"  class="inputtext" id="c_nameview" name="c_nameview" size="80" value="{$Page.c_nameview}">
        <span id="c_nameviewspan" class="inputspan"></span></td>
    </tr>
    <tr >
      <td align="center">页面标题：</td>
      <td>&nbsp;
        <input type="text" value="{$Page.c_title}" class="inputtext" id="c_title" name="c_title" size="80">
        <span id="c_titlespan" class="inputspan"></span></td>
    </tr>
    <tr >
      <td align="center">页面图片：</td>
      <td>&nbsp;
        <input type="text" value="{$Page.c_image}" class="inputtext" id="c_image" name="c_image" size="80">
        &nbsp;
        <input name="button" type="button" class="uploadimg"  attrimage="c_image" value="上传图片" />
        <span id="c_imagespan" class="inputspan"></span></td>
    </tr>
    <tr >
      <td align="center">页面关键字：</td>
      <td>&nbsp;
        <input type="text" value="{$Page.c_keywords}" class="inputtext" id="c_keywords" name="c_keywords" size="80">
        <span id="c_keywordsspan" class="inputspan"></span></td>
    </tr>
    <tr >
      <td align="center">页面描述：</td>
      <td>&nbsp;
        <textarea class="inputtextarea" id="c_description" name="c_description" cols="80" rows="4">{$Page.c_description}</textarea>
        <span id="c_descriptionspan" class="inputspan"></span></td>
    </tr>
    <tr >
      <td align="center">详细内容：</td>
      <td><textarea class="inputtextarea" id="content" name="content" cols="80" rows="4" style="width:98%;">{$Page.c_introduction}</textarea>
        <br>
        <span id="contentspan" class="inputspan"></span></td>
    </tr>
    <tr onMouseOver="this.bgColor='#E4EDF9';" onMouseOut="this.bgColor='#FFFFFF';" bgcolor="#ffffff">
      <td  align="right"></td>
      <td colspan="3"><input type="hidden" value="{$Page.autoid}" id="autoid" name="autoid">
        <input name="Submit3" type="submit" class="button rb1" value=" 提交 " id="addnew" />
        <input type="button" class="button rb1" value=" 返回 " onClick="window.location.href='__URL__/index'"/></td>
    </tr>
  </table>
</form>
</body>
</html>