<div class="footer">
  <ul class="footul">
    <li class="footcopyright">
      <div class="footcopytext">
        <ul>
          <li ><span class="spanleft">FPSMALL: </span><span class="spanright">Client Download | Moblie Access</span></li>
          <li><span class="spanleft">GETTING STARTED: </span><span class="spanright">Shopping Process | Credits Policy | Invoice System | Service Agreements</span></li>
          <li><span class="spanleft">AFTER-SALES SERVICE: </span><span class="spanright">Extended Warranty Service | Payment & Delivery Address | How To Handle The Cash Withdrawal</span></li>
          <li>Copyright &copy; 2009-2012  3P Trade Co., Ltd., ALL rights reserved.</li>
          <li>Terms of Use |<span> Privacy Policy  | </span> Site Map </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
