<div class="header">
  <div class="topheader"></div>
  <div class="banner htmlwidth">
    <div class="logo"></div>
    <div class="banner_center">
      <div class="search">
        <form action="result.php" method="get" name="formsearch">
          <input type="text" name="keyword" id="keyword"  class="search_key"/>
          <input type="submit"   value="search" class="search_btn"/>
        </form>
      </div>
    </div>
    <div class="userview">
      <div class="base_cart">
        <ul>
          <li>My Cart</li>
          <li class="myfps_li">100</li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="navgation">
    <ul>
      <li><a href="__APP__">Index</a></li>
      <li><a href="__APP__/home/catalog">Catalog</a></li>
      <li><a href="#">Hot</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
