body{margin: 0;padding:0;font-family: tahoma;}
.body{height: auto;width: 990px; height: auto;margin: 0 atuo; background-color:#FFF;}
input{ outline: none;}
div{margin: 0 auto;padding: 0}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p,span{border: none;margin: 0;padding: 0, -webkit-text-size-adjust:none;}
a{text-decoration: none; outline:none;}
input{  outline:none;}
ul,li{list-style-type: none;padding: 0;}
img{vertical-align:middle;}
.clear{clear: both;height: 0;width: 100%}
.margintop{margin-top:10px;}
.marginleft{margin-left:10px;}
.marginright{margin-right:10px;}
.clearheight{clear: both;height: 0;width: 100%;height:15px;}
a{blur:expression(this.blur());}/*针对 IE*/
a{ outline:none; } /*针对firefox等*/
/*头部的内容*/
.header{background:url(../images/header.png) repeat-x 0 0;height:158px;width:100%;}
.header_top{height:29px; background-color:#F7F7F7;border-bottom:1px solid #EEEEEE;line-height: 29px; font-size:12px; color:#999;}
.header_cont{width:990px;}
.header_cont a{color:#999;}
.header_cont a:hover{color:#900; text-decoration:underline;}
.header_cont ul li{float:left;padding-left:8px;}
.header_cont ul li.fore1 span a{padding-left:5px;}
.header_cont ul li span.outline{height: 12px;      width: 2px;padding:0 5px 0 2px;}
.banner{font-size:12px;width:990px;}
.banner a{font-size:12px;} 
.banner select,.banner option{font-size:12px;}
.logo{ background:url(../images/logo.png) 0 8px no-repeat;float:left; height:88px;width:300px; }
.banner_center{  float:left;height:88px; width:510px; }
.search{ width:400px; height:30px; margin:0 auto; margin-top:24px; padding-left:6px; background-color:#a60101;padding:4px 5px 6px; border-radius:5px;}
.search input{ height:30px;line-height:30px; background-color:#FFF; border:0 none;font-size:14px; color:#888;}
.search input.search_key{width:340px;  }
.search input.search_btn{ width:50px;  height:30px; line-height:30px;overflow:hidden;text-indent:-9999px; cursor:pointer; background:#a60101 url(../images/search_btn.png) no-repeat 15px 5px; }
.userview{ width:170px; float:left;height:38px; padding-top:25px; position:relative;}

.userview ul li{ height:20px;line-height:20px; text-align:right;  }
.banner_menu{ height:38px;   clear:both; }
.nav_center{height:38px;  width:990px;}
.banner_menu  ul li{ float:left;width:165px;height:38px; line-height:38px; font-weight:bold;   text-align:center; position:relative;}
.banner_menu  ul li a{display:block; height:36px; line-height:36px;width:100%;margin:0px 0;color:#FFF;font-size:14px;}
.banner_menu  ul li a:hover,.banner_menu  ul li a.moveon{background-color:#830101;border-left:2px solid #C00;border-right:2px solid #C00;}
.banner_menu  ul li a span{width:100%;}
.base_cart{height:38px;background:url(../images/cartbg.png) right 0px no-repeat;padding-left:20px; width:128px; float:right; color:#666;  line-height:38px; }
.cartnum{ position:absolute; top:8px; right:60px;background:url(../images/cart1.png) right 0px no-repeat; width:60px; height:36px; text-align:center; height:33px; line-height:25px; color:#800; font-weight:bold; display:none;}
.base_cart a{ color:#666; font-size:14px; font-weight:bold;}
.base_cart a:hover{color:#800; text-decoration:underline;}
.base_cart ul li{ width:110px; float:left; height:38px; line-height:38px; text-align:center; font-weight:800; padding-right:0px;text-indent: 40px;}
.hotnav{ background:url(../images/hot.png) no-repeat 0 0; height:32px; width:38px; position:absolute; top:-6px;right:0px;}

/*中间的内容*/
.center{ width:990px;height:auto;padding-bottom:6px;}

/*底部内容*/
.footer{width:100%;   background-color: #EFEFEF;    border-top: 1px solid #CCCCCC; padding-top:15px;margin-top: 10px;}
.footer ul.footul{ width:900px; margin:0 auto;}
.footer ul.footul li{  color:#666; }
.footer ul.footul li.footimg{ height:48px; }
.footer ul.footul li.footlogo{width:100px;}
.footer ul.footul li.footcopyright{text-indent:8px; color:#000; font-size:13px; width: 100%;}
.footcopytext ul li{width:100%; height:24px; line-height:24px;font-size:12px; color:#fff;text-align:center; }
.footcopytext ul li.foot_navigate{ height:30px; line-height:30px;}
.footcopytext ul li span.spanleft{width:330px; float:left; text-align:right;}
.footcopytext ul li span.spanright{width:550px; float:left;text-align:left;}
.footcopytext ul li span a{ color:#fff; font-size:13px;}
.footcopytext ul li span.spanline{ font-weight:normal; padding:0px 8px 0px 0px;}
.footcopytext ul li img{vertical-align:middle;}

input.orderinput{ width:100px; height:20px; background:url(../images/addtocart.png) 0 0 no-repeat; display:block;text-indent:-9999px; overflow:hidden; border:0 none; cursor:pointer; line-height:90px; float:left;}
input.orderinputout{ width:100px; height:20px; background:url(../images/addtocartout.png) 0 0 no-repeat; display:block;text-indent:-9999px; overflow:hidden; border:0 none; cursor:pointer; line-height:90px;}
input.prodorderinput{width:130px; height:25px; background:url(../images/prod_bigbtn.png) 0 0 no-repeat; display:block;text-indent:-9999px; overflow:hidden; border:0 none; cursor:pointer; line-height:90px;}
input.prodorderinputtime{width:130px; height:25px; background:url(../images/prod_bigbtnout.png) 0 0 no-repeat; display:block;text-indent:-9999px; overflow:hidden; border:0 none; cursor:pointer; line-height:90px;}
input.delorderone{ width:54px; height:22px; background-image:url(../images/orderremove.png);background-position:0 0; background-repeat:no-repeat;border:0 none; line-height:90px ; overflow:hidden; cursor:pointer;display:block;text-indent:-9999px;}
span.bugsuccessmsg{ font-size:12px;color:red; font-weight:bold;}
span.orderlistprice{ font-size:14px; color:red; font-weight:bold;}

/*页面公共内容*/
.price{ font-size:18px; font-weight:bold; color:#900;}
.image{border:1px solid #EFEFEF; padding:2px; }
.padding{padding:10px;}
.dollor_type{font-weight:bold; color:#900;}
.message{width:100%; height:auto; font-size:12px;}
.message ul li{line-height:24px; line-height:24px;}
.hidden{display:none;}
/*数字输入框*/
input.order_number{display:inline-block;padding:3px 3px;border:1px solid #ccc;width:30px;color:#666;}
span.order_reduce,span.order_increase{display:inline-block;padding:2px 3px;border:1px solid #ccc;cursor:pointer;width:8px;font-family:verdana;line-height:18px; color:#171717;}
span.order_reduce{background:url(../images/addreduce.png) no-repeat 2px 7px;}
span.order_increase{background:url(../images/addreduce.png) no-repeat -17px 7px;}
span.order_reduce:hover,span.order_increase:hover{border:1px solid #666;}

.fl{float:left;}
.fr{float:right;}
/*中间的内容*/
.left,.right{float:left; height:auto;width:200px;}
.block{float:left;height:auto; width:780px;}
.title{font-size:12px; font-weight:bold;height:32px; line-height:32px; border-bottom:1px solid #BCBCBC; }
.redstyle{background:url(../images/title_bg.png) no-repeat 0 1px; color:#4A4A4A; text-indent:10px; }
.left_menu{background-color:#fff; border:2px solid #850303; height:auto;width:196px;box-shadow: 0 2px 3px #FC8888;border-radius:5px;}
/*翻页样式*/
.page{ height:30px; line-height:30px; text-align:right; font-size:12px; color:#666;}
.page span{ border:1px solid #666; font-weight:bold; padding:3px 6px; border-radius:5px;display:inline;background-color:#EFEFEF;}
.page span.current{color:#FFF; background-color:#999; border:1px solid #333;}
.page span.page_info{background-color:transparent; border:0 none;}
.page span a{color:#666;}
.page span a:hover{color:#800; }
.empty{ height:60px; line-height:60px;text-align:center; color:#666;}
.msgdiv{ height:auto; line-height:30px; text-align:center; color:#800; font-size:12px; font-weight:bold;}
