<header class="header">
	<div class="header">
		<div class="content">
			<div class="logo fl"></div>
			<nav>
				<div class="nav fl">
					<ul>
						<li class="nav_on"><a href="__ROOT__">网站首页</a></li>
						<li><a href="__ROOT__/home/services.html">服务项目</a></li>
						<li><a href="__ROOT__/home/superiority.html">优势内容</a></li>
						<li><a href="__ROOT__/home/artlist/index/rurl/case.html">案例展示</a></li>
						<li><a href="__ROOT__/home/artlist/index/rurl/news">资讯了解</a></li>
						<li><a href="__ROOT__/home/content/index/rurl/about.html">关于高飞</a></li>
						<li><a href="__ROOT__/home/content/index/rurl/contact.html">联系我们</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>