<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站后台管理</title>
<link href="__ROOT__/Public/css/admin_css.css" rel="stylesheet" type="text/css">
<link href="__ROOT__/Public/css/uploadify.css" type="text/css" rel="stylesheet"/>
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/jquery-1.9.0.min.js"></script>
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
<script language="javascript" type="text/javascript" src="__ROOT__/Public/js/functions.js"></script>
</head>
<body>
<form name="formadd" method="post" action="admin_webpage.php?action=saveadd" id="formadd">
  <table width="100%" border="1" align="center" cellpadding="0" cellspacing="1"   >
    <tr >
      <td height="40" colspan="2" class="table_top">网站参数设置</td>
    </tr>
    <tr >
      <td width="12%" align="right">网站名称：</td>
      <td >&nbsp;
        <input type="text" size="60" name="page_name" id="page_name" class="inputtext" value=""/>
        <span id="page_namespan" class="inputspan">*</span></td>
    </tr>
    <tr >
      <td width="12%" align="right">页面地址：</td>
      <td >&nbsp;
        <input type="text" size="60" name="page_url" id="page_url" class="inputtext" value=""/>
        <span id="page_urlspan" class="inputspan">*</span></td>
    </tr>
    <tr >
      <td width="12%" align="right">页面关键字：</td>
      <td >&nbsp;
        <input type="text" size="60" name="keywords" id="keywords" class="inputtext" value=""/>
        <span id="keywordsspan" class="inputspan">*</span></td>
    </tr>
    <tr >
      <td width="12%" align="right">页面描述：</td>
      <td >&nbsp;
        <textarea cols="60" rows="5" name="description" id="description"></textarea>
        <span id="descriptionspan" class="inputspan">*</span></td>
    </tr>
    <tr >
      <td  align="right">&nbsp;</td>
      <td colspan="3"><input type="hidden" value="" id="autoid" name="autoid">
        <input name="Submit3" type="submit" class="button" value=" 提交 " id="addnew" />
        <input name="Submit3" type="reset" class="button" value=" 重置 " /></td>
    </tr>
  </table>
</form>
</body>
</html>
